footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 60px 24px 32px 24px;
    position: relative;
    width: 100%;
    background-color: var(--everglade);
    color: var(--quarter-spanish-white);
    opacity: 1;
}

.contact-wrapper {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 60px;
}

.contact-title {
    text-transform: uppercase;
    color: var(--quarter-spanish-white-rgba-03);
    letter-spacing: 4px;
    font-weight: 700;
}

.contact-mail,
.contact-phone {
    text-transform: uppercase;
    color: var(--quarter-spanish-white);
    text-decoration: none;
    font-weight: 700;
}

.contact-mail:hover,
.contact-phone:hover {
    color: var(--quarter-spanish-white-rgba-03);
}

.social-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-wrapper{
    gap: 10px;
}

.social-link{
    color: var(--quarter-spanish-white);
    text-transform: uppercase;
    text-decoration: none;
}

.social-link:hover{
    color: var(--quarter-spanish-white-rgba-03);
}