.home-section {
    height: calc(100dvh - var(--header-height));
    background-color: var(--everglade);
    color: var(--quarter-spanish-white);
    padding: 45px 24px;
}

.home-section-wrapper {
    flex-direction: column;
    gap: 45px;
    overflow: hidden;
}

.profilepic {
    width: 300px;
    height: 450px;
    border-radius: 5px;
}

.social-wrapper {
    gap: 10px;
    margin-top: 20px;
}

.social-link {
    color: var(--quarter-spanish-white);
    text-transform: uppercase;
    text-decoration: none;
}

.social-link:hover {
    color: var(--quarter-spanish-white-rgba-03);
}

@media (max-width: 575px) {
    .home-section {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home-section-wrapper {
        gap: 20px;
    }

    .profilepic {
        width: 250px;
        height: 370px;
    }
}