.resume-download-btn {
    margin-top: 70px;
    gap: 5px;
    width: max-content;
    display: flex;
    place-items: center;
    text-decoration: none;
    padding: 10px 16px;
    color: var(--quarter-spanish-white);
    background-color: var(--everglade);
    border-radius: 10px;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}

.resume-download-btn:hover {
    color: var(--everglade);
    background-color: transparent;
    border: 1px solid var(--everglade);
}

/* Responsive Starts */

@media (max-width:991px) {
    .resume-download-btn {
        margin-top: 45px;
    }
}

@media (max-width:767px) {
    .resume-download-btn {
        margin-top: 40px;
    }
}

@media (max-width:575px) {
    .resume-download-btn {
        margin-top: 30px;
    }
}

/* Responsive Ends */