header {
    background-color: var(--everglade);
    position: sticky;
    top: 0;
    height: var(--header-height);
}

.header-wrapper {
    justify-content: space-between;
    padding: 10px 25px;
}

.header-logo {
    color: var(--quarter-spanish-white);
    text-decoration: none;
}

.nav-link-wrapper {
    list-style-type: none;
    gap: 15px;
}

.nav-link {
    color: var(--quarter-spanish-white);
    text-decoration: none;
    cursor: pointer;
}

.hamburger-line {
    margin-bottom: 5px;
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background-color: var(--quarter-spanish-white);
    transform-origin: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* Responsive Start */

@media (max-width: 991px) {
    .nav-link-wrapper {
        position: fixed;
        background: var(--everglade);
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;
        z-index: 99;
        gap: 30px;
        border-radius: 0px;
    }

    .menu-open {
        right: 0px;
    }

    .menu-open+.hamburger .hamburger-line:nth-child(1) {
        transform: rotate(40deg) translateY(9px);
    }

    .menu-open+.hamburger .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .menu-open+.hamburger .hamburger-line:nth-child(3) {
        transform: rotate(-40deg) translateY(-9px);
    }

    .hamburger {
        display: block;
        position: relative;
        z-index: 100;
        padding-right: 15px;
    }
}

/* Responsive End */